<div id="shopify-block-16156609502398088594" class="shopify-block shopify-app-block">
	<script type="lazyload2">
		var scriptAppend = document.createElement('script');
		var version = new Date().getTime();
		scriptAppend.src = 'https://apps.omegatheme.com/facebook-pixel/client/loading-custom-event.js?v=' + version;
		document.querySelector('head').appendChild(scriptAppend)
	</script>
	<div class="ot-multi-pixel"></div>
	<script>var arrayFBPixelTrack = [];</script>
	<script type="lazyload2">
		if (! arrayFBPixelTrack.includes(639527024762094)) {
			arrayFBPixelTrack.push(639527024762094);
		}
	</script>
	<script>
		var omegaFBSettings = [];
		var omegaFBSettings = {"settings":{"id":"48111","shop":"essentialsforguys.myshopify.com","skip_onboarding_fb_ads":"0","accept_permission_fb_ads":"0","content_type_event":"1","step_onboarding":"{\"step_1\": 0, \"step_2\": 0, \"step_3\": 0, \"is_completed\": 0}","show_banner_extension":"1","enable_analytics":"1","use_basecode_fb":"1","is_show_modal_survey":"1","is_show_modal_feedback":"1","last_date_feedback":"0000-00-00 00:00:00","is_show_banner":"1","feedback_text":null,"feedback_rating":null,"count_open_app":"0","is_show_modal_review":"0","is_show_re_branding":"1","status_show_re_branding":"0","date_timezone_offset":"UTC","group_accept_information_customer":{"isClientIPAddress":true,"isCity":true,"isFirstName":true,"isExternalID":false,"isZipCode":true,"isPhone":true,"isDateOfBirth":false,"isClientUserAgent":true,"isClickIDCookie":false,"isGender":false,"isState":false,"isCountry":true,"isEmail":true,"isBrowserIDCookie":false,"isLastName":true,"isSubscriptionID":true},"capi_track_viewcontent":"1","capi_track_search":"1","capi_track_pageview":"1","capi_track_addtocart":"1","capi_track_checkout":"1","capi_track_purchase":"1","id_pixel_shopify":0,"price":"0","maximum_id_conversion_api":"1","enable":"1","plan":"3","active_plan_at":null,"statusFeedback":"1","lastUpdate":"2023-06-11 18:23:22","timeOnline":"0000-00-00 00:00:00","reasonDisable":"","reasonOtherDisable":"","DiscountCode":"","usePixelFromShopify":"0","PlanShopify":"basic","updated_theme":"0","status_use_conversion":"0","test_event_code":null,"fb_access_token":null,"include_shippping_cost":"0","use_multi_currency":"0","first_catalog_feed_created_at":null,"is_enable_trigger":"0","is_new_version":"1","utm_tracking":"0","apps_installed":null,"plan_id":"19"},"list_all_custom_events":[]}
	</script>
	<script type="lazyload2" data-src="https://cdn.shopify.com/extensions/3fcc7aef-1dd7-4175-be28-6b4d00891f43/0.65.0/assets/facebook-pixel.js"></script>
</div>